
<aside class="sidebar" th:fragment="aside">
   <h2><a th:href="@{/company/myPage}" style="text-decoration:none; color:#111;">마이페이지</a></h2>
      <nav class="menu" >
        <a th:href="@{/company/edit}" class="active">회원정보 수정<span></span></a>
        <a th:href="@{/company/favorite}">관심 있는 축제<span></span></a>
        <a th:href="@{/company/festival}">나의 축제 조회<span></span></a>
        <a th:href="@{/company/sponsor}">후원 조회<span></span></a>
        <a th:href="@{/company/delete}" style="color:#ef4444;">회원탈퇴<span></span></a>
      </nav>
</aside>