<footer class="bg-dark text-light mt-5" th:fragment="footer">
  <div class="container py-4">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="text-warning">FesLite</h5>
        <p>지역 축제를 찾고 참여하고 소통하는 플랫폼</p>
      </div>
      <div class="col-md-4">
        <h6>고객센터</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="link-light link-underline-opacity-0">FAQ</a></li>
          <li><a href="#" class="link-light link-underline-opacity-0">문의하기</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6>팔로우</h6>
        <div class="d-flex gap-3"><a class="link-light" href="#">Instagram</a><a class="link-light" href="#">YouTube</a></div>
      </div>
    </div>
    <div class="text-center small mt-3 text-secondary">© 2025 FesLite</div>
  </div>
</footer>